
.launchGame {
    margin-bottom: 0rem;
}

.bullpen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.playerWaitingContainer{
    width: 45%;
    
}

.playerWaitingContainer img{
    width: 80%;
    border-radius: 1rem;
}
