

.character img {
    border-radius: 40%;
    border: 3px solid black;
    height: 7rem;
}
.character.right img{
    padding-right: 40%;
}

.character.left img{
    padding-left: 40%;
}

.character{
    height: 10%;
    position: relative;
}

.characterContainer{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 1rem;
}

.characterContainer.right {
    margin-right: -1rem;
}

.characterContainer.left {
    margin-left: -4rem;
    flex-direction: row-reverse;
}

.player {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.playerContainer {
    flex: 1;
    overflow: hidden;
    width: 100%;
}


.reservedCards {
    background-color: black;
    height: 3rem;
    width: 2rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    text-align: center;
    color: #FFF;
    padding-top: 1rem;
}

.reservedCards.right {
    margin-right: 1.5rem;
}

.reservedCards.left {
    margin-left: 4rem;
}

.score {
    position: absolute;
    border-radius: 50%;
    background-color: black;
    color: #FFF;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;
    top: -1rem;
}

.score.left {
    right: -3rem;
}

.active{
    box-shadow: -5px -5px 25px gold;
}


