* {
    /* background-color: bisque; */
    /* border: 1px solid black; */
    margin: 0;
    padding:  0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-variant: small-caps;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
}

.boardContainer {
  flex: 2;
}

.background {
  position: absolute;
  z-index: -1;
}
