* {
    /* background-color: bisque; */
    /* border: 1px solid black; */
    margin: 0;
    padding:  0;
}


.container {
  display: flex;
  justify-content: center;
}

.boardContainer {
  flex: 2;
}

.playerContainer {
  flex: 1;
}
